<!DOCTYPE html>

<html>
  <center>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>BlogHub</h1>
    <h3>Register For a New Account</h3>
    <form action="/checkCreate" method="GET">
      <br>
      <label for="username">Username</label>
      <input type="text" name="username">
      <br>
      <label for="password">Password</label>
      <input type="password" name="password">
      <br>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword">
      <br>
      <label for="displayName">Display Name</label>
      <input type="text" name="displayName">
      <br>
      <input type="submit" name="createAccount" value="Create">
      <br>
      {{userError}}
    </form>
  </body>
</center>
</html>
