<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>BlogHub</h1>

    <form action="/" method="GET">
      <label for="username">Username</label>
      <input type="text" name="username">
      <br>
      <label for="password">Password</label>
      <input type="password" name="password">
      <br>
      <label for="password">Password</label>
      <input type="password" name="confirm password">
      <br>
      <label for="displayName">Display Name</label>
      <input type="displayName" name="displayName">
      <br>
      <input type="submit" name="createAccount" value="Create">
    </form>
  </body>
</html>
