
<html>
<center>
  <head>
    <title>Create Topic</title>
  </head>
  <body>
    <h1>BlogHub</h1>
    <h3>Create Topic</h3>
    <div class="topnav">
      <a href="welcome">Home</a>
      <a href="createTopic">Create a Topic</a>
      <a href="otherBlog">Look At Other Blogs</a>
      <a href="logout">Log Out</a>
</div>
<br>
    <form action="/yourBlog" Method="POST">
      <label for="topicName">What is your topic?</label>
      <input type="text" name="blogName"> <br> <br>
      <label for="newEntry">New Entry:</label>
      <input type="text" name ="newEntry" size = "120">
      <input type="submit" name="createTopic" value="Create">
    </form>
  </body>
</center>
</html>
