
<html>
<center>
  <head>
    <title>Other Blogs</title>
  </head>
  <body>
    <h1>Other Blogs</h1>
    <br>
    <div class="topnav">
      <a href="welcome">Home</a>
      <a href="createTopic">Create a Topic</a>
      <a href="otherBlog">Look At Other Blogs</a>
      <a href="logout">Log Out</a>
</div>
<br>
    <!-- <h3>Look up a blog:</h3>
    <form action="/blogsYouSearched" method="POST">
      <input type ="text" name="yourSearch">
      <input type ="submit" name= "Submit">
    </form> -->
    {% for key in allBlogs %}
      <a href="{{url_for('displayEntry',blogID = key,blogTopic = allBlogs.get(key))}}">{{allBlogs.get(key)}}</a>
      <br>

    {% endfor %}
  </body>
</center>
</html>
